body {
 font-family: verdana;
}

button {
    width: 30%;
    height: 400px;
    border-radius: 100%;
}

#botaoA {
    background-color: dodgerblue;
}

#botaoV {
    background-color: rgb(139, 179, 139);
}

#botaoL {
    background-color: darkorange;
}
